{% extends 'base.html.twig' %}

{% block title %}Adaugă Produs{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Adaugă un nou produs</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.nume) }}
        {{ form_widget(form.nume, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.stoc) }}
        {{ form_widget(form.stoc, {'attr': {'class': 'form-control', 'min': 0}}) }}
    </div>
    <div class="d-flex justify-content-between">
        <button class="btn btn-primary">Salvează</button>
        <a href="{{ path('app_produse') }}" class="btn btn-secondary">Anulează</a>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
