{% extends 'base.html.twig' %}

{% block title %}Ieșiri pentru {{ produs.nume }}{% endblock %}

{% block body %}
    <h1>Ieșiri pentru {{ produs.nume }}</h1>
    </br>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Data</th>
                <th>Număr document</th>
                <th>Ieșiri</th>
                <th>Stoc după ieșire</th>
                {% if produs.available %}
                    <th>Acțiuni</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for iesire in pagination.items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ iesire.data|date('d.m.Y') }}</td>
                    <td>{{ iesire.nrDocIesire }}</td>
                    <td>{{ iesire.iesiri }}</td>
                    <td>{{ iesire.stocIesire }}</td>
                    {% if produs.available %}
                        <td>
                            <a href="{{ path('app_edit_iesire', {id: iesire.id}) }}" class="btn btn-primary">Editează</a>
                            <a href="{{ path('app_delete_iesire_confirmation', {id: iesire.id}) }}" class="btn btn-danger">Șterge</a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Nu au fost găsite ieșiri pentru acest produs.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    {% if produs.available %}
        <a href="{{ path('app_add_iesire', {id: produs.id}) }}" class="btn btn-success">Adaugă ieșire nouă</a>
    {% endif %}
    <a href="{{ path('app_produse', {'page': back_page}) }}" class="btn btn-secondary">Înapoi la Produse</a>
{% endblock %}
