{% extends 'base.html.twig' %}

{% block title %}Intrări pentru {{ produs.nume }}{% endblock %}

{% block body %}
    <h1>Intrări pentru {{ produs.nume }}</h1>
    </br>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Data</th>
                <th>Număr Document</th>
                <th>Intrări</th>
                <th>Neutilizabile</th>
                <th>Stoc După Intrare</th>
                {% if produs.available %}
                    <th>Acțiuni</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for intrare in pagination.items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ intrare.data|date('Y-m-d') }}</td>
                    <td>{{ intrare.nrDocIntrare }}</td>
                    <td>{{ intrare.intrari }}</td>
                    <td>{{ intrare.nefolosibile }}</td>
                    <td>{{ intrare.stocIntrare }}</td>
                    {% if produs.available %}
                        <td>
                            <a href="{{ path('app_edit_intrare', {id: intrare.id}) }}" class="btn btn-primary">Editează</a>
                            <form action="{{ path('app_delete_intrare', {id: intrare.id}) }}" method="post" style="display:inline-block;">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ intrare.id) }}">
                                <button class="btn btn-danger">Șterge</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Nu au fost găsite intrări pentru acest produs.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    {% if produs.available %}
        <a href="{{ path('app_add_intrare', {id: produs.id}) }}" class="btn btn-success">Adaugă Intrare Nouă</a>
    {% endif %}
    <a href="{{ path('app_produse') }}" class="btn btn-secondary">Înapoi la Produse</a>
{% endblock %}
